body {
    margin: 0px;
    background-color:black;
    color: white;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif

}
hr {
    border-color: rgba(255, 255, 255, 0.362);
    border-color: white;
}
.black-separator{
    height: 20%;
}
.cover-logo {
    width: 30%;
}
.logo {
    position: fixed;
    left: 0%;
    top: 0%;
    padding: 1%;
    background-color: rgb(0, 0, 0);
    font-size: xx-large;
    z-index: 5;
    width: 20%;
    cursor: pointer;
    border: solid 1px grey;
}
.logo>img {
    width: 100%;
}
.hr-text {
    display: flex;
    flex-direction: row;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10pt;
  }
.hr-text:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.hr-text:before {
    margin-right: 10px
}
.hr-text:after {
    margin-left: 10px
}
  
.cover{
    background-image: url("../Images/Cover\ Images/Cover Image 08.png");
    background-size:100% auto;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 150vw;
    width: 100%;
}

.background{
    color: #999999;
    position: absolute;
    background-color: blue;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -100;
    overflow: hidden;
}
.background>img {
    min-width: 100%;
    height: 100%;
}

.filament-section {
    height: 300%;
    width: 100%;
    background-size: cover;
    background-position: bottom center;


    background-image: url("../Images/Filaments/LongFilament.png");

}
.nav_darkening {
    top: 56px; 
    width: 100%;
    position: fixed;
    height: 50px; 
    z-index: 5;
    background-image: linear-gradient(black, transparent);
}
.cover>img {
    width: 100%;
}
.cover-text {
    text-align: center;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);

    font-family:  "Helvetica Neue", Arial, Helvetica, sans-serif;
    top: 60vh;
    padding: 3%;
    background-image: radial-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    font-weight: lighter;
    font-size: x-large;
}
.map-effect:hover{
    color: white;
}
.separator {
    border-left: 0.5px solid rgba(255, 255, 255, 0.488);
    position: relative;
    left: 50%;
    width: 50%;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.map-container {
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    display: inline-block;
}
.map-container-info{

    position: relative;
    top:0%;
    z-index: 10;
    width: 100%;
    background-color: black;
    display: none;
    text-align: justify;
    padding: 1%;

}

.right-label {
    float: right;
  position: sticky;
  font-size: 1em;
  line-height: 100%;
  font-weight: 600;
  top: 50%;
  text-align: right;    
  /* rotate the text */
  writing-mode: tb;
  transform: scale(-1);
  color: grey;
  /* don't take any space*/
  width: 0;
    /*
    transform-origin:top right;
    right:0;
    top:80%;
    background-color: black;
    display: inline-block;
    transform: rotate(90deg) translateX(50%);
    position: sticky;
    */
  }
.map-container-info>h1{
    text-align: left;
}

.slice-map-area {
    position: absolute;
    width: 100%;
    z-index: 5;
}

.slice-map-area:hover {
    cursor: pointer;

}

.map-container-info>img{
    width: 100%
}
.slice-map-text {
    display: inline-block;
    width: max-content;
    left: 0; 
    right: 0; 
    text-align: center;
    z-index: 3;
    position: absolute;
    color: grey;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.highlighted-axis {
    color:white;
}


.map-download-box{
    display: inline-block;
    position: relative;

}
.mapbox {
    display: inline-block;
    position: relative;
}

.banner-navigator {
    position: sticky;
    display: inline-block;
    top: 70%;
    left: 0%;
    z-index: 5;
    outline: 1px solid grey;
    height: 70vh;
    margin: 10px;
}

.banner-navigator-section {
    border: 1px solid white;
    width: 100%;
    position: absolute;
    top: 0px;
    height: 50px;
}

#text_01 {
    bottom:0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text_02 {
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#text_03 {
    top: 65%;
    left: 17%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
}

#text_04 {
    top: 65%;
    left: 76%;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
}

#map_time_01 {
    top: 85%;
    left: 59%;
    text-align: center; 
}
#map_time_02 {
    top: 75%;
    left: 67%
}
#map_time_03 {
    top: 65%;
    left: 75%
}
#map_time_04 {
    top: 55%;
    left: 83%
}
#map_time_05 {
    top: 45%;
    left: 91%
}

#map_time_06 {
    top: 35%;
    left: 99%
}

#map_time_01 {
    top: 85%;
    left: 59%;
}
#map_time_02 {
    top: 75%;
    left: 67%
}
#map_time_03 {
    top: 65%;
    left: 75%
}
#map_time_04 {
    top: 55%;
    left: 83%
}
#map_time_05 {
    top: 45%;
    left: 91%
}

#map_time_06 {
    top: 35%;
    left: 99%
}

#map_red_01 {
    top: 85%;
    left: 37%
}

#map_red_02 {
    top: 75%;
    left: 29%
}

#map_red_03 {
    top: 58%;
    left: 18%
}

#map_red_04 {
    top: 49%;
    left: 11%
}

#map_red_05 {
    top: 41%;
    left: 6%
}

#map_angle_01 {
    top: 30%;
    left: 1%
}

#map_angle_02 {
    top: 7%;
    left: 30%
}

#map_angle_03 {
    top: 7%;
    left: 70%
}

#map_angle_04 {
    top: 30%;
    left: 99%
}


.slice-map-text:hover{
}

.map-container>.row{
    position: absolute;
    bottom: 0%;
    padding-left: 3%;
    padding-right: 3%;
}
.mapbox>img{
    position: relative;
    max-width:100vw;
    max-height:95vh;
    height: auto;
    width:auto;
    
}

.banner-information {
    top:10%;
    position: relative;
}

.col {
    text-align: left;
}
.col-sm>p{
    line-height: normal;
}

.flavor-text {
    font-weight: 100;
    text-align: center;
    font-size: x-large;
}

.info-box {
    text-align: left;
}

.slice-info-box {
    visibility: hidden;
}

.slice-info-box>img {
    width: 50%;
}

h3 {
    font-weight: 100;;
}

h1 {
    font-weight: lighter;
    font-size: 20pt;
}

.fluid-container {
    /*

    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y proximity;
    */
  }

.child {
    /*
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    */

}


.downloads-container{
    padding-left: 4%;
    padding-right: 4%;
}
.navbar {
    padding-left: 4%;
    padding-right: 4%;
    background: none;
    background-color: transparent;
}
.nav-item {
    font-size: medium;
}
.navbar-brand {
    font-size: x-large;
}
.about-container {
    padding-left: 4%;
    padding-right: 4%;

}
.download-card {
    padding: 3%;
}
.download-card > p{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(215, 215, 215);

}
p {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: normal;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

}

.vl {
    height: 500px;
}

.banner-box {
}
.button-text {
    font-weight: 100;
    font-size: 15pt;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 8pt;
    }
    .button-text {
        font-size: 12pt;
    }
    .slice-map-text {
        font-size: 8pt;
    }
    h1 {
        font-size: 12pt;
    }
    .cover {
        height: 300vw
    }
    .cover-logo{
        width: 70%;
    }
    .flavor-text {
        font-size: 15pt;
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
    p {
        font-size: 8pt;
    }
    .slice-map-text {
        font-size: 10pt;
    } 
    h1 {
        font-size: 15pt;
    }
   
    .cover-logo{
        width: 50%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    h1 {
        font-size: 15pt;
    }
}

  
.banner-outline {
    border: 1px solid rgb(65, 65, 65);
    position: relative;
}
.term-box {
}
.banner-tick {
    font-size: 15pt;
    font-weight: 100;
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0%;
}



.left {
    text-align: left;
    left: 0%;

}
.right {
    text-align: right;
    right: 0%;

}


.banner-map-area {
    position: absolute;
    width: 100%;
    z-index: 3;
}
.banner-sidebar {
    position: sticky;
    text-align: center;
    top: 10%;
    cursor: pointer;
}
.bar_container {
    position: sticky;
    position: -webkit-sticky;
    top: 80%;
    height: 0px;
    z-index: 30;
}

.desktop_bar {
    background: rgb(74, 74, 74);
    width: 60px;
    height: 2px;
    float: left;
}
#barone {
    float: left;
}
#bartwo {
    float: right;
}
.sidebar-counter {
    font-size: 18pt;
    font-weight: 400;
}

.sidebar-tick {
    font-size: 12pt;
    font-weight: 800;
}

#banner-area-01{
    bottom: 0%;
    height: 25%;
}
#banner-area-02{
    bottom: 25%;
    height: 30%;
}
#banner-area-03{
    bottom: 56%;
    height: 40%;
}
#banner-area-04{
    bottom: 98%;
    height: 5%;
}


.accordion {
    background-color: black;
}
.accordion-item {
    background-color: black;
    color: white;
    border: none;

}
.accordion-button{
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: 100;

}
.accordion-button:not(.collapsed) {
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: 100;

}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.underline-hover {
    color:rgb(98, 98, 98);
    font-weight: 800;
    text-decoration: underline;
    
}

.term-hover { 
    color:rgb(152, 152, 152);
    font-size: 10pt;
    font-weight: 400;
    /*border: 1px solid rgb(98, 98, 98);*/  
    display: inline;
    cursor: pointer;
    white-space: nowrap;
}

.term-hover:hover {
    color: white;

}
.underline-hover:hover {
    color: white;
    cursor: pointer;
}

.icon-button {
    width: 50px;
}
strong {
    font-size: 12pt;
}

.light-text {
    font-size: 10pt;
    color: gray;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.btn-outline-light {
    border: 1px solid grey;
    border-radius: 0 !important;
    font-size: 10pt;
    color: grey;
}

.btn-no-outline-light {
    border: 0px solid grey;
    border-radius: 0 !important;
    font-size: 10pt;
    color: grey;
    padding: 0px;
}

.btn-outline-light:hover {
    color: white;
    border: 1px solid white;
}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active, .btn-outline-light.active, .open>.dropdown-toggle.btn-outline-light {
    background-color: #00b3db00;
    border-color: #ffffff; /*set the color you want here*/
    border: 0px;
    color: white;
    border: 1px solid white;
}

.col-3{
    position: relative;
}
.col-xs-1{
    position: relative;
}
.axis {
    width: 5%;
    padding: 0px;
}
.dropdown-menu-dark {
    background-color: black;
}
.dropdown-divider {
    border-color:rgb(215, 215, 215)
}
.axis-label {
    display: inline-block;
    padding: 10px;
    z-index: 2;
    transform-origin: bottom; 
    background-color: black;
    font-size: 20pt;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 100;
    position: sticky;
    transform: rotate(-90deg);
    left: 0%;
    top: 50%;

}
/*
.right-label{
    transform: rotate(-270deg);
    right: 0px;
}
*/
.col-1{
    position: relative;
}
.banner-info-box {
    position: absolute;
    padding: 5%;
}
.banner-info-box>img{
    padding: 10%;
}
.banner-button {
    background-color: black;
    position: absolute;
    top: 0px;
    max-width: 30%;
    left: 0%;
    text-align: left;
}
#banner-info-1 {
    top: 0%;
}

#banner-info-2 {
    top: 15%;
}

#banner-info-3 {
    top: 30%;
}

#banner-info-4 {
    top: 60%;
}

#banner-info-5 {
    top: 70%;
}

#banner-info-6 {
    top: 79%;
}

#banner-info-7 {
    top: 95%;
}



#lookback-tick-01{
    top:0%
}

#lookback-tick-02{
    top:12.4087591241%
}

#lookback-tick-03{
    top:27.0072992701%
}
#lookback-tick-04{
    top:41.6058394161%
}
#lookback-tick-05{
    top:56.204379562%
}
#lookback-tick-06{
    top:70.802919708%
}

#lookback-tick-07{
    top: 85.40145%
}
#lookback-tick-08{
    top:99%
}
#lookback-tick-09{
    top:0%
}
#lookback-tick-10{
    top:0%
}

#redshift-tick-01{
    top:0%
}

#redshift-tick-02{
    top:20%
}

#redshift-tick-03{
    top:40%
}

#redshift-tick-04{
    top:60%
}

#redshift-tick-05{
    top:80%
}

.modal-content {
    background-color: black;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 0%;
}

.modal-body {
    padding: 0%;
}
.modal {

}
.modal-header {
    border: none;
}
.modal-footer {
    border: none;
}
.modal-backdrop
{
    opacity:.8 !important;
}

.phone-counter {
    position: sticky;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
    background-color: black;
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 40%;
    padding: 10px;
}